body{
    background-color: hsl(0, 0%, 8%) ;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.profile-card{
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-image{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.jessicarandall{
    font-size: large;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.location{
    color: hsl(75, 94%, 57%);
    font-size: small;
    font-weight: 700;
}

.bio{
    color: hsl(0, 0%, 100%);
    font-size: small;
    font-weight: 400;
}
.social-btn{
    width: 80%;
    font-weight: 600;
    justify-content: center;
    background-color: hsl(0, 0%, 20%);
    font-size: medium;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 10px;
}

.social-btn:active{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}